<% if card == :hidden %>
  <div class="card card-hidden">
    <%= image_tag("deck/back.png") %>
  </div>
<% else %>
  <% klass ||= nil %>
  <%= div_for card, class: klass do %>
      <%= image_tag("deck/#{card.suit}/#{card.name}.png") %>
  <% end %>
<% end %>
