<% if card == :hidden %>
  <div class="card card-hidden">
    <%= image_tag("deck/back.png") %>
  </div>
<% else %>
  <% klass ||= nil %>
  <% last = last.nil? ? true : last %>
  <%= div_for card, class: klass, style: "#{ last ? '' : 'margin-bottom: -190px'}" do %>
      <%= image_tag("deck/#{card.suit}/#{card.name}.png") %>
  <% end %>
<% end %>
