<div id="train-container">
  <div id="train-deck">
    <%= form_for @game, url: next_card_path, method: :post do |f| %>
      <%= image_tag "deck/back.png", id: "next-card-trigger" %>
      <%= f.submit "", id: "next-card-button" %>
    <% end %>
  </div>

  <div id="train">
    <% if card = @game.cards_train.active_card %>
      <%= render partial: 'card', locals: { card: card } %>
    <% end %>
  </div>
</div>
