<div id="train">
  <div id="train-deck">
    <h2>Train</h2>
  </div>

  <% if card = @game.cards_train.active_card %>
    <div id="train-card">
      <%= card.name %>
      <%= card.suit %>
    </div>
  <% end %>
</div>

<%= form_for @game, url: next_card_path, method: :post do |f| %>
  <%= f.submit "Next Card" %>
<% end %>
