.feed-line-column {
  height: 500px;
  width: 10%;
  float: left;
  margin: 0 2%;
  text-align: center;
}

#feed-line-container {
  margin: 0 30px;
  overflow: hidden;
  text-align: center;
}

.card {
  margin: 0 auto;
  width: 95%;
  height: 160px;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: -120px;
  background-color: white;
}

.card-selected {
  background-color: red;
}
